/*style.css */
body {
  margin:0;
  text-align: center;
  padding-top: 150px;
  font-family: 'Pirata One', cursive;
  background-image: url('../AmmoIMG.JPG');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  overflow: hidden;
  position:relative;
  color:white;
}
h1,p {
  opacity:0;
  animation:fadeIn 3s ease-in forwards;
  text-align:center;
  margin-top:0;
  font-size:50px;
  letter-spacing:2px;
  color:white;
  z-index:10;
  position:relative;
}
@keyframes fadeIn {
  from{
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
