/*style.css */
body {
  margin:0;
  height: 100vh;
  background:url('ammoimg.jpeg') no-repeat center center fixed;
  background-size:cover;
  overflow-x:hidden;
}
  


h1,p {
  opacity:0;
  animation:fadeIn 3s ease-in forwards;
  text-align:center;
  margin-top:0;
  font-size:50px;
  letter-spacing:2px;
  color:white;
  z-index:10;
  position:relative;
}
@keyframes fadeIn {
  from{
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
